<h1>Form experiments</h1>

<form action="/goodbye">
  <label for="alice">first name</label>
  <input type="text" name="zebra">

  <label for="bob">last name</label>
  <input type="text" name="giraffe">

  <button>Go to /goodbye</button>
</form>
