<form action="/payment/results">
  <label for="user_apr">APR</label>
  <input id="user_apr" type="text" name="user_apr">

  <label for="user_years">Number of years</label>
  <input id="user_years" type="text" name="user_years" placeholder="How many years to repay?">

  <label for="user_pv">Principal</label>
  <input id="user_pv" type="text" name="user_pv" placeholder="How much principal?">

  <button>Calculate monthly payment</button>
</form>
