<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <label for="user_number">Enter a number</label>

  <input id="user_number" type="text" name="user_number">

  <button>Calculate square</button>
</form>
